{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'projects/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'projects/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'projects/jquery/popper.min.js' %}"></script>
    <script src="{% static 'projects/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'users/style.css' %}">
</head>
<body>
  <img class="logo" src="{% static 'users/imgs/565c3813-3745-4ce4-bb2d-bf22f2cffee7_200x200.png' %}">
    <div class="container d-flex justify-content-center align-items-center flex-column p-4 logdiv">
        <h1>Login</h1>
        {% if message %}
            <div class="alert alert-info" role="alert">
                {{message}}
            </div>
        {% endif %}

        {% if messages %}
            {% for msg in messages%}
              <div class="alert alert-info" role="alert">
                {{msg}}
              </div>
              {% endfor %}
        {%endif%}

        {% load socialaccount %}
        {% providers_media_js %}
        {% load crispy_forms_tags %}
        <form method="post" class="w-50">
            {% csrf_token %}
            <!-- {{ form|crispy }} -->

            <div class="form-group">
              <label for="exampleInputEmail1">Username</label>
              <input type="text" class="form-control" id="exampleInputEmail1" name="username" aria-describedby="emailHelp" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
            </div> 
            <button type="submit" class="btn btn-block btn-primary">Login</button>
          </form>
        <!-- <form method="post" class="w-50">
          {{ form|crispy}}

            <button type="submit" class="btn btn-block btn-primary">Login</button>
        </form> -->
        <a href="{% provider_login_url 'facebook' method='js_sdk' %}" >Login by FaceBook</a>
        </form>
        <span class="psw m-3">Forgot your <a href="{% url 'users:password_reset' %}">password?</a></span>
    </div>
</body>
</html>