{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign up</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'users/style.css' %}">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
  <h3 class="reg">Create your account</h3>
  <img class="logo" src="{% static  'users/imgs/565c3813-3745-4ce4-bb2d-bf22f2cffee7_200x200.png' %}">
  {% load crispy_forms_tags %}
    {% block content %}
    <div class="container d-flex justify-content-center align-items-center flex-column p-2 logdiv regdiv ">
      {% if message %}
        <div class="alert alert-info" role="alert">
            {{message}}
        </div>
      {% endif %}
      {% if messages %}
          {% for msg in messages%}
            <div class="alert alert-info" role="alert">
              {{msg}}
            </div>
            {% endfor %}
      {%endif%}
    <h2>Register</h2>
        <form method="post" class="w-50" enctype="multipart/form-data">
          {% csrf_token %}
  
          {{ form|crispy }}
  
          <button type="submit" class="btn btn-block btn-primary">Sign up</button>
        </form>
      </div>
    {% endblock %}
</body>
</html>