{% extends 'crowd_funding_system/base.html' %}
        
    {% block title %}
        Homepage
    {% endblock %}

{% block my_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'users/home.css' %}">
<ul class="navbar">
    <li><img style="margin-left: 0;" class="logo" style="margin-left: 45rem;" src="{% static 'users/imgs/logo.png' %}">
    </li>
    <li class="navitem"><a class="active" href="{% url 'homepage_index' %}">Home</a></li>
    <li class='navitem'><a href="">All Projects</a></li>
    <li class='navitem'><a href="projects/new">Create a project</a></li>
    {% if user.is_authenticated %}
        <li class='navitem' style="margin-left: 22rem;"><a href="users/logout/">Log out</a></li>
    {% else %}
        <li class='navitem' style="margin-left: 22rem;"><a href="users/login/">Login</a></li>
        <li class='navitem'><a href="users/register/">Register</a></li>
    {% endif %}
  </ul>
<h2 class="head_home">Highest Rated Projects</h2>
<div id="carouselExampleIndicators" class="carousel slide w-75 h-25" data-ride="carousel" style="border: solid; margin-left: 10rem;">
    <ol class="carousel-indicators">
        {% for project in highest_rated_projects%}
        <li data-target="#carouselExampleIndicators" data-slide-to=`{{ forloop.counter0 }}` {% if forloop.first %}class='active'{% endif %}></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for project in highest_rated_projects %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img src="/media/{{project.images.first.picture}}" class="card-img-top d-block w-100 h-50" alt={{project.title}}>
            <div class="carousel-caption d-none d-md-block">
                <h3 style="color: black;">
                    <a href="projects/{{project.id}}" style="text-decoration: none;">{{project.title}}</a>
                </h3>
            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" style="background-color: black;"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" style="background-color: black;"></span>
    </a>
</div>
<h2 class="head_home">Latest Projects</h2>
<ul style="list-style-type: none;">
    {% for project in latest_projects %}
        <li>
            <h5><a href="projects/{{project.id}}" style="text-decoration: none;">{{project.title}}</a></h5>
        </li>
    {% endfor %}
</ul>

<h2 class="head_home">Featured Projects</h2>
<ul style="list-style-type: none;">
    {% for project in featured_projects %}
        <h5><a href="projects/{{project.id}}" style="text-decoration: none;">{{project.title}}</a></h5>
    {% endfor %}
</ul>

{% endblock %}