{% extends 'projects/base.html' %}
        
    {% block title %}
        Rating
    {% endblock %}

{% block my_content %}

<form action="{% url 'edit_project_rating' project.id %}" method="post" style="margin-top: 2rem; margin-left: 35rem; width: 300px;">
    {% csrf_token %}
    
    <div class="form-group">
        {{form.as_p}}
    </div>

    <input type="hidden" name="project" value="{{project.id}}">
    <input type="hidden" name="user" value="{{project.creator.id}}">
    
    <input type="submit" class="form-control btn btn-dark"/>

</form>
{% endblock %}