{% extends 'projects/base.html' %}
{% load static %}   
    {% block title %}
        Projects
    {% endblock %}
{% block my_content %}
<ul class="navbar" style="display: flex;">

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start">
        <li><img style="margin-left: 0;" class="logo" style="margin-left: 45rem;" src="{% static 'users/imgs/logo.png' %}">
        </li>
        <li class="navitem ml-2"><a href="{% url 'homepage_index' %}">Home</a></li>
    {% if user.is_authenticated %}
            <li class='navitem ml-2'><a class="active" href="/projects/">All Projects</a></li>
            <li class='navitem ml-2'><a href="/projects/new">Create a project</a></li>
    </div>
    {% endif %}
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-end; margin-right: 10px;">
        {% if user.is_authenticated %}
            <li class='navitem' ><a href="/users/donations">My Donations</a></li>
            <li class='navitem' ><a href="/users/projects">My Projects</a></li>
            <li class='navitem' ><a href="/users/show">My Profile</a></li>
            <li class='navitem' ><a href="/users/logout/">Log out</a></li>
        {% else %}
            <li class='navitem'><a href="/users/login/">Login</a></li>
            <li class='navitem'><a href="/users/register/">Register</a></li>
        {% endif %}
    </div>
  </ul>
<div class='container mx-auto justify-content-between' style="background-color: rgb(2, 14, 51);">
    <h1 class="text-center my-5">Projects List</h1>
    <h3 style="color: whitesmoke;">Search by Title or Tag.</h3>
   <form method="get">
<div class="searchbar" >
    {{myFilter.form}}
    <label>Tag: </label><input type="text" name="tag">
    <button class="btn btn-primary" type="submit">Search</button>
</div>
       
       
    
   </form>
    {% for project in projects %}
    <div class='container prolist'>
        <div class="mx-auto border border-info rounded bg-light p-3" style="width: 60rem;margin-top: 50px;">
            <a href="{% url 'projects:project_details' project.id%}"><h5 class="card-title">{{project.title}}</h5></a>
            <div id="carouselExampleIndicators{{project.id}}" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for project_image in project.images %}
                    <li data-target="#carouselExampleIndicators{{project.id}}" data-slide-to=`{{ forloop.counter0 }}` {% if forloop.first %}class='active'{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for project_image in project.images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="/media/{{project_image.picture}}" class="card-img-top d-block w-100 h-50" alt={{project.title}}>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators{{project.id}}" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" ></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators{{project.id}}" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" ></span>
                </a>
            </div>
            <div class="">
                <p class=""><strong>Created By:</strong> {{ project.creator.first_name }} {{ project.creator.last_name }} </p>
                <p class=""><strong>Details:</strong>  {{ project.details }}</p>
                <p class=""><strong>Target:</strong>  {{ project.total_target }}</p>
                <p class=""><strong>Start Date:</strong>  {{ project.start_date }}</p>
                <p class=""><strong>End Date:</strong>  {{ project.end_date }}</p>
                <p class=""><strong>Category:</strong>{{ project.category.category_name }}</p>
                <p class=""><strong>Avg. Rating:</strong>  {{ project.average_rating }}</p>
            {% if project.creator.id != user.id %}
                <a  class='rp-btn btn btn-warning' data-form="./report/{{ project.id }}" >Report</a>
                <div class='modal hide w-50 container' ></div>
            {% endif %}
            </div>
        </div>
    </div>
    {% empty%}
    <h2 style="color: whitesmoke;">No projects found</h2>
    {% endfor %}
    <script>
        $(".btn-warning").click(function(){
            $(this).next().load($(this).data('form'), () => {
            $(this).next().modal("show");
            });
        });
    </script>
</div>
{% endblock %}
