{% extends 'projects/base.html' %}
{% load static %}   
    {% block title %}
        Projects
    {% endblock %}

{% block my_content %}
<div class='container mx-auto justify-content-between'>
    <h1 class="text-center my-5">Projects List</h1>

    {% for project in projects %}
    <div class='container'>
        <div class="mx-auto border border-info rounded bg-light p-3" style="width: 70rem;margin-top: 50px;">
            <a href="{% url 'project_details' project.id%}"><h5 class="card-title">{{project.title}}</h5></a>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for project_image in project.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to=`{{ forloop.counter0 }}` {% if forloop.first %}class='active'{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for project_image in project.images %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                    <img src="/media/{{project_image.picture}}" class="card-img-top d-block w-100 h-50" alt={{project.title}}>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" ></span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" ></span>
                </a>
            </div>
            <div class="">
                <p class="">Created By: {{ project.creator.first_name }} {{ project.creator.last_name }} </p>
                <p class="">Details: {{ project.details }}</p>
                <p class="">Total Target: {{ project.total_target }}</p>
                <p class="">Start Date: {{ project.start_date }}</p>
                <p class="">End Date: {{ project.end_date }}</p>
                <p class="">Category: {{ project.category.category_name }}</p>
                <p class="">Avg. Rating: {{ project.average_rating }}</p>
            </div>
        </div>
    </div>
    {% empty%}
    No project found
    {% endfor %}
</div>
{% endblock %}