{% extends 'projects/base.html' %}
        {% load static %}
    {% block title %}
        {{user.first_name}}'s Projects
    {% endblock %}

{% block my_content %}

<body>
<ul class="navbar" style="display: flex;">

    <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-start">
        <li><img style="margin-left: 0;" class="logo" style="margin-left: 45rem;" src="{% static 'users/imgs/logo.png' %}">
        </li>
        <li class="navitem ml-2"><a href="{% url 'homepage_index' %}">Home</a></li>
    {% if user.is_authenticated %}
            <li class='navitem ml-2'><a  href="/projects/">All Projects</a></li>
            <li class='navitem ml-2'><a  href="/projects/new">Create a project</a></li>
    </div>
    {% endif %}
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: flex-end; margin-right: 10px;">
        {% if user.is_authenticated %}
            <li class='navitem' ><a  href="/users/donations">My Donations</a></li>
            <li class='navitem' ><a class="active" href="/users/projects">My Projects</a></li>
            <li class='navitem' ><a href="/users/show">My Profile</a></li>
            <li class='navitem' ><a href="/users/logout/">Log out</a></li>
        {% else %}
            <li class='navitem'><a href="/users/login/">Login</a></li>
            <li class='navitem'><a href="/users/register/">Register</a></li>
        {% endif %}
    </div>
  </ul>
    <div class="container show pt-3" style="margin-top: 5rem; overflow-y: scroll;">
        <div style="display: flex; flex-direction: row; justify-content: flex-start">
            <h2 style="color: whitesmoke;">My Projects</h2>
            <a href="/projects/new" class="btn btn-primary ml-3" style="height: 2.4rem;">Create One</a>
        </div>

        <table class="table" style="overflow-y: scroll;">
            <thead class="thead-dark">
                <th scope="col">Project</th>
                <th scope="col">Category</th>
                <th scope="col">Total Target</th>
                <th scope="col">Donations</th>
                <th scope="col">Visit Project</th>
            </thead>

            {% for project in user_projects %}
                <tr>
                    <td>{{project.title}}</td>
                    <td>{{project.category.category_name}}</td>
                    <td>{{project.total_target}}</td>
                    <td>
                        {% if project.donations %}
                            {{project.donations}}
                        {% else %}
                            No Donations Yet
                        {% endif %}
                    </td>
                    <td><a href="/projects/{{project.id}}" class="btn btn-primary">View More</a></td>
                </tr>
    
            {% empty %}
                <tr>
                    <td colspan="4">You don't have any Projects, Yet.</td>
                </tr>
        {% endfor %}
    </div>
</body>
{% endblock %}