{% extends 'users/base.html' %}
{% load static %}

{% block title %}
{{user.first_name}}'s Profile
{% endblock %}

{% block extra_style %}
<link rel="stylesheet" href="{% static 'users/show_profile.css' %}" type="text/css">
{% endblock %}
{% block my_content %}

<div class="left-container">
    <div class="img-container">
        <img src="{% if user.profile_pic != '' %} {{user.profile_pic.url}} {% endif %}"
            alt="{{user.first_name}}'s Profile Pic">
    </div>
    <h2 class="mt-3">{{user.first_name}} {{user.last_name}}</h2>
</div>
<div class="main-container">

    <div class="info-container" style="height: 20rem;">
        <h4>Email: {{user.email}}</h4>

        <h4>Phone:
            {% if user.phone != "" %}
            {{user.phone}}
            {% else %}
            Not Provided
            {% endif %}
        </h4>

        <h4>Birthdate:
            {% if user.birthdate != None %}
            {{user.birthdate}}
            {% else %}
            Not Provided
            {% endif %}
        </h4>

        <h4>Facebook Profile:
            {% if user.fb_link != None %}
            <a href="{{user.fb_link}}">{{user.fb_link}}</a>
            {% else %}
            Not Provided
            {% endif %}
        </h4>
        <a href="edit" class="btn btn-primary" style="width: fit-content;">Edit Profile</a>
        <a href="projects" class="btn btn-primary mt-2" style="width: fit-content;">My Projects</a>
        <a href="donations" class="btn btn-primary mt-2" style="width: fit-content;">My Donations</a>
    </div>

</div>

{% endblock%}